@import url('../header/_header.scss');


.prog-head-wrapper {
    overflow-x: hidden;
    margin: 0;
    background: url('../../assets/programme.jpg');
    background-size: cover;

    width: 100%;
    box-sizing: border-box;

    & .head-nav * {
        color: white;
    }

    & .prog-head {
        box-sizing: border-box;
        height: 70vh;

        p {
            border: 1px solid black;
            padding: 10px;
            margin-top: 40px;

            background-color: #666666;
            background-clip: text;
            color: transparent;
            text-shadow: rgba(255, 255, 255, 0.59) 0px 3px 3px;
            // text-shadow: #F2D1D1 0px 3px 3px;

            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
}

.prog-wrapper {
    & .work {
        border: 1px solid;
        box-sizing: border-box;
        padding: 50px 0;

        div {
            border: 1px solid;
            border-radius: 2px;

            text-align: center;
            // background-color: #F0F1EB;


            h3 {
                font-size: 2rem;
                border: 1px solid black;
                color: red;
                margin: 30px 10px;
            }

            p {
                border: 1px solid;
                font-size: 1.3rem;
                margin: 40px 0;
                padding: 10px;
                line-height: 28px;
            }
        }
    }

    & .sessions-flexbox {
        display: flex;
    }

    & .sessions {
        border: 1px solid black;
        box-sizing: border-box;
        padding: 40px 0;


        div {
            border: 1px solid;
            text-align: center;
            border-radius: 2px;

            h3 {
                font-size: 1.8rem;
                margin: 30px 10px;
                border: 1px solid;
            }

            p {
                font-size: 1.3rem;
                border: 1px solid;
                padding: 15px;
                margin: 40px 0;
                line-height: 28px;

            }
        }
    }

    & .divider {
        border: 1px solid black;

        p {
            border-top: 1px solid;
            border-bottom: 1px solid;
            width: max-content;
            padding: 10px 0;

            margin-left: 50%;
            transform: translate(-50%);

            font-size: 2.5rem;
            font-family: 'Basecoat', sans-serif;
        }
    }


    & .timings-wrapper1 {
        border: 1px solid black;
        box-sizing: border-box;
        padding: 0 5%;

        & .timeHead {
            border: 1px solid;

            p {
                border: 1px solid green;
                width: max-content;
                padding: 15px;
                font-size: 1.2rem;
                font-weight: 600;

            }
        }

        & .timeFlexbox {
            display: flex;
            border: 1px solid;
            padding: 10px;
            overflow: hidden;

            & .sessionBox-contain {
                border: 1px solid;
                flex: 0.3;

                & #sessContainer2 {
                    border: 1px solid;
                    width: max-content;
                    
                }

                & .sessionBox {
                    box-sizing: border-box;
                    padding: 20px;
                    width: max-content;
                    background-color: crimson;

                    // border: 1px solid;


                    p {
                        font-size: 1.2rem;
                        text-align: center;
                        font-family: sans-serif;
                        letter-spacing: 1px;
                        border: 1px solid;
                    }
                }
            }

            & .sessionTable {
                flex: 0.7;
                border: 1px solid;

                table {
                    border: 1px solid;
                    width: 100%;
                    

                    tr td {
                        border: 1px solid;
                        
                    }
                }
            }
        }
    }
}

.col1 {
    width: 25%;
    text-align: center;
}

.col2 {
    
    div {
        border: 1px solid;
        
        & .icon-div {
            background-color: cyan;
            display: inline-block;
            padding: 25px;
            // width: 50px;
            // height: 50px;
            text-align: center;
        }

        span {
            border: 1px solid;
        }
    }
}

.icon {
    border: 1px solid;
}

.col3 {
    width: 30%;

    div p {
        text-align: right;
        margin: 0;
    }

    div p:nth-child(1) {
        border: 1px solid;
        font-size: 1.3rem;
        margin-bottom: 5px;
    }

    div p:nth-child(2) {
        border: 1px solid;
        font-size: 1.1rem;
    }
}


//Responsive

@media (min-width:570px) {
    .prog-head-wrapper {
        background-position: top right;
    }

    .prog-head {
        p {
            font-size: 5rem;
        }
    }

    .work {
        div {
            margin: 0 25%;

        }
    }

    .sessions {
        div {
            margin: 0 25%;

        }
    }

    .sessions-flexbox {
        flex-direction: row;
    }

    .sessionTable {
        padding: 50px;
        
    }
}


// for mobile
@media (max-width:570px) {
    .prog-head-wrapper {
        background-position: right;
    }

    .prog-head {

        p {
            font-size: 4rem;
        }
    }

    .work {
        div {
            margin: 0 10%;

        }
    }

    .sessions {
        div {
            margin: 0 10%;

        }
    }

    .sessions-flexbox {
        flex-direction: column;
    }

    .timeFlexbox {
        flex-direction: column;
    }

    .sessionTable {
        padding: 20px 0;
    }
}