@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Montserrat&family=Staatliches&display=swap');


.box-wrapper {
    // border: 1px solid;
    border-radius: 20px;
    width: 300px;
    box-sizing: border-box;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.boxDiv1 {
    // border: 1px solid;
    border-radius: 20px 20px 0 0;
    background: url('../../assets/jr-korpa-9XngoIpxcEo-unsplash.jpg');
    background-size: cover;
    height: 120px;

}

.boxDiv2 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 1px 2px 6px 0.1px rgba(0, 0, 0, 0.765);
    z-index: 1;
    position: relative;
    background-color: white;

    // transform: translateX(100%);
    margin-left: 50%;
    transform: translate(-50%, -50%);

    & .personIcon {
        color: black;
        position: absolute;

        display: inline-block;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 1.9rem;
    }

}

.boxDiv3 {
    // border: 1px solid;
    margin: 0;
    // margin-top: -8%;

    p {
        text-align: center;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
        letter-spacing: 0.2px;
        color: rgb(55, 55, 55);

    }
}

.boxDiv4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    margin: 40px 0 0 0;

    a {
        text-decoration: none;
        font-size: 1.02rem;
        color: rgb(73, 73, 73);
        display: block;
    }

    & button {
        padding: 15px;

        border: none;
        outline: none;
        border-radius: 20px;
        background-color: #FFD01A;
        width: 80%;

        color: rgb(55, 55, 55);
        font-weight: bold;
        font-size: 1rem;

    }

    p {
        padding: 20px 27px 30px;
        text-align: justify;
        font-size: 1.1rem;
        line-height: 23px;
    }
}