@import url('../header/_header.scss');

.enrol-head-wrapper{
    margin: 0;
    background: url('../../assets/lum3n--RBuQ2PK_L8-unsplash.jpg');
    background-size: cover;
    
    width: 100%;
    box-sizing: border-box;

    & .enrol-head{
        box-sizing: border-box;
        height: 75vh;
        
        p{
            border: 1px solid black;
            padding: 10px;
            margin-top: 40px;
            
            background-color: #666666;
            background-clip: text;
            color: transparent;
            text-shadow: rgba(255, 124, 168, 0.436) 0px 3px 3px;
            // text-shadow: #F2D1D1 0px 3px 3px;

            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
}

.enrol-para{
    width: 100%;
    border: 1px solid green;
    box-sizing: border-box;

    & .para-context{

        p{
            border: 1px solid;
            text-align: center;
            font-size: 1.5rem;
        }
    }
}

.enrol-form-here{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid red;

    p{
        text-align: center;
        background-color: pink;

        margin: 0;
    }

    & .form-container{
        // box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.447);
        // margin is used in media
        padding: 20px;
        border-radius: 1px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
}







// Child Form : step 1

.childinfo{
    // border: 1px solid;
    padding: 4px;

}
.child-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;

}
.child-n{
    flex: 0.49;
}
.button-wrapper{
    margin: 30px 0 5px 0;
}






//Parent Form : step 2
.btn2-prev{
    text-align: left;
}
.btn2-next{
    text-align: right;
}





// Health Form : step 3
.condition-wrapper *{
    margin: 6px 0;
}





// for normal screen
@media (min-width:570px){
    .enrol-head-wrapper{
        background-position: bottom;
    }
    
    .enrol-head{
        p{
            font-size: 5rem;
        }
    }

    .form-container{
        margin: 2rem 23%;
    }
}


// for mobile
@media (max-width:570px){
    .enrol-head-wrapper{
        background-position:right;
    }
    
    .enrol-head{

        p{
            font-size: 4rem;
        }
    }
    .form-container{
        margin: 15px;
    }
    .child-wrapper{
        display: block;
    }
    
}