@import url('../header/_header.scss');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Montserrat&family=Staatliches&display=swap');

.aboutPage-container {

    & .about-head-wrapper {
        background: url('../../assets/john-mark-arnold-ti4kGLkGgmU-unsplash.jpg');
        background-size: cover;
        background-position: left bottom;
        width: 100%;
        box-sizing: border-box;
        -webkit-box-shadow: inset 0px -7px 14px -3px rgba(0, 0, 0, 0.72);
        -moz-box-shadow: inset 0px -7px 14px -3px rgba(0, 0, 0, 0.72);
        box-shadow: inset 0px -7px 14px -3px rgba(0, 0, 0, 0.72);

        .head-nav {
            color: black;
            backdrop-filter: blur(5px);
            background-color: rgba(255, 255, 255, 0.78);
        }

        & .about-head {
            box-sizing: border-box;
            height: 75vh;
            // border: 1px solid;

            p {
                // border: 1px solid black;
                padding: 10px;
                margin-top: 40px;
                font-weight: bold;
                text-align: right;
                // width: max-content;

                background-color: #666666;
                background-clip: text;
                color: transparent;
                text-shadow: rgba(225, 224, 224, 0.436) 0px 3px 3px;
                // text-shadow: #F2D1D1 0px 3px 3px;

                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        }
    }

    & .whoContainer {
        // border: 1px solid black;
        padding: 100px 0;
        background: rgb(3, 0, 60);
        background: rgb(223, 223, 223);
        background: linear-gradient(to bottom, rgba(223, 223, 223, 1) 0%, rgba(255, 255, 255, 1) 35%, rgba(195, 249, 255, 1) 64%, rgba(0, 230, 255, 1) 100%);
        -webkit-box-shadow: inset 0px -7px 14px -3px rgba(0, 0, 0, 0.72);
        -moz-box-shadow: inset 0px -7px 14px -3px rgba(0, 0, 0, 0.72);
        box-shadow: inset 0px -7px 14px -3px rgba(0, 0, 0, 0.72);

        & .who-para-wrapper {
            // border: 1px solid black;
            box-sizing: border-box;
            margin-left: 50%;
            transform: translate(-50%);

            p {
                // border: 1px solid black;
                text-align: center;
                line-height: 35px;
                font-family: 'Montserrat', sans-serif;
            }

            p:nth-child(1) {
                // font-size: 3rem;
                // color: rgb(215, 215, 215);   
                font-weight: bold;
                border-radius: 5px;
                padding: 25px 10px;
                text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            }

            p:nth-child(2) {
                // font-size: 1.5rem;
                padding: 50px 25px;
                color: black;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

            }
        }
    }

    & .ourStoryContainer {
        // border: 1px solid black;



        & .ourProfile {
            // border: 1px solid;
            margin: 0;
            padding: 0;
            background-color: #eff8e2;
            // box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

            p {
                border: 1px dashed;
                margin: 0;
                padding: 15px 50px;
                font-size: 2.8rem;
                width: max-content;
                background-color: black;
                color: rgb(51, 153, 201);
                font-family: sans-serif;
            }
        }

        & .storyWrapper {
            // min-height: 70vh;
            background-image: url('../../assets/dir.jpg');
            background-size: cover;
            background-position: left top;
            background-attachment: fixed;
            padding: 100px 0;
            -webkit-box-shadow: inset 0px 10px 13px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: inset 0px 10px 13px 0px rgba(0, 0, 0, 0.75);
            box-shadow: inset 0px 10px 13px 0px rgba(0, 0, 0, 0.75);

            & .storyFlexbox {
                display: flex;
                box-sizing: border-box;
                width: 70%;
                margin-left: 50%;
                transform: translate(-50%);
                align-items: center;

                // padding: 0 25px;

                & .dirIma {
                    // border: 1px dashed;
                    padding: 5px;

                    flex: .3;

                    p {
                        width: 100%;

                        img {
                            width: 100%;
                            border-radius: 5px;
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        }
                    }
                }

                & .dirInfo {
                    // border: 1px dashed;
                    box-sizing: border-box;
                    flex: .7;

                    p {
                        // border: 1px solid;
                        font-size: 1.3rem;
                        // font-weight: bold;
                        font-family: 'Barlow', sans-serif;
                        line-height: 30px;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                        border-radius: 6px;
                        color: black;
                        backdrop-filter: blur(5px);
                        background-color: rgba(255, 255, 255, 0.816);
                        // padding: 10px;

                    }
                }
            }
        }
    }

    & .facultyContainer {
        background-color: #eff8e2;
        border: 1px solid;
        margin: 0;
        padding: 40px 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        background-image: url('../../assets/steve-johnson-7INz588_4Kw-unsplash.jpg');
        background-size: cover;

        & .facultyBanner {
            // border: 1px solid;
            width: max-content;
            padding: 15px 30px;
            font-size: 2rem;
            // margin-top: 40px;
            margin-left: 50%;
            transform: translate(-50%);
        }

        & .facWrapper {

            // border: 1px solid;
            & .facMembers {
                // border: 1px solid;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
                margin-left: 50%;
                transform: translate(-50%);
                text-align: center;
                box-sizing: border-box;
                // border-radius: 20px;
                background-color: rgba(255, 255, 255, 0.446);
                & .imgContainer {
                    // background-color: white;
                    // border: 1px dashed;
                    width: max-content;
                    margin-left: 50%;
                    transform: translate(-50%);
                    img {
                        border-radius: 50%;
                        width: 180px;
                    }
                }

                & .facInfo {
                    p {
                        margin: 15px;
                    }

                    p:nth-child(1) {
                        // border: 1px solid;
                        font-size: 1.5rem;
                        font-weight: bold;
                        margin-top: 40px;
                    }

                    p:nth-child(2) {
                        font-size: 1.2rem;
                        color: rgb(69, 69, 69);
                        // border: 1px solid;
                    }
                }

                & .facOtherInfo {
                    // border-radius: 6px;
                    background-color: rgba(255, 255, 255, 0.593);

                    p {
                        // border: 1px solid;
                        padding: 10px;
                        margin: 4px;
                        font-size: 1.1rem;
                        color: black;
                        line-height: 28px;
                        text-align: left;

                    }

                    p:nth-child(1) {
                        margin-top: 40px;
                        font-size: 1.2rem;

                    }
                }
            }
        }
    }
}

:root {
    --color-primary: #f6aca2;
    --color-secondary: #f49b90;
    --color-tertiary: #f28b7d;
    --color-quaternary: #f07a6a;
    --color-quinary: #ee6352;
    /*
    --color-primary: #5192ED;
    --color-secondary: #69A1F0;
    --color-tertiary: #7EAEF2;
    --color-quaternary: #90BAF5;
    --color-quinary: #A2C4F5;
    */
}

.content {
    display: flex;
    align-content: center;
    justify-content: center;
}

.text_shadows {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
        9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    font-family: bungee, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(2rem + 5vw);
    text-align: center;
    margin: 0;
    color: var(--color-primary);
    //color: transparent;
    //background-color: white;
    //background-clip: text;
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
    letter-spacing: 0.4rem;
}

@keyframes shadows {
    0% {
        text-shadow: none;
    }

    10% {
        text-shadow: 3px 3px 0 var(--color-secondary);
    }

    20% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary);
    }

    30% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }

    40% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
            12px 12px 0 var(--color-quinary);
    }

    50% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
            12px 12px 0 var(--color-quinary);
    }

    60% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
            12px 12px 0 var(--color-quinary);
    }

    70% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }

    80% {
        text-shadow: 3px 3px 0 var(--color-secondary),
            6px 6px 0 var(--color-tertiary);
    }

    90% {
        text-shadow: 3px 3px 0 var(--color-secondary);
    }

    100% {
        text-shadow: none;
    }
}

@keyframes move {
    0% {
        transform: translate(0px, 0px);
    }

    40% {
        transform: translate(-12px, -12px);
    }

    50% {
        transform: translate(-12px, -12px);
    }

    60% {
        transform: translate(-12px, -12px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}





@media (min-width:600px) {
    .about-head p {
        font-size: 5rem;
    }

    .storyWrapper {
        flex-direction: row;
    }

    .dirInfo {
        padding: 50px;

        p {
            padding: 25px 50px;
        }
    }

    .facMembers {
        width: 37%;
        padding: 50px;
    }
}

@media (min-width: 800px) {
    .whoContainer {


        & .who-para-wrapper {
            width: 40%;

            p:nth-child(1) {
                font-size: 3rem;

            }

            p:nth-child(2) {
                font-size: 1.5rem;
            }
        }
    }


}

@media (max-width:600px) {
    .about-head p {
        font-size: 4rem;
    }

    .dirInfo {
        text-align: center;

        p {
            padding: 10px;
        }
    }

    .storyFlexbox {
        flex-direction: column;
    }

    .facMembers {
        width: 83%;
        padding: 25px 8px;
    }
}

@media (max-width: 800px) {
    .whoContainer {

        & .who-para-wrapper {
            // padding: 20px 0;
            width: 70%;

            p:nth-child(1) {
                font-size: 2.5rem;

            }

            p:nth-child(2) {
                font-size: 1.2rem;
            }
        }
    }

    .storyFlexbox {
        flex-direction: column;
    }

}