@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


.header {
    margin: 0;
    background: url('../../assets/Compressed/alexis-brown-omeaHbEFlN4-unsplash-Compressed.jpg');
    background-size: cover;
    border: 1px solid;
    display: block;
    // background-attachment: fixed;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px -7px 14px -3px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: inset 0px -7px 14px -3px rgba(0, 0, 0, 0.72);
    box-shadow: inset 0px -7px 14px -3px rgba(0, 0, 0, 0.72);

    & .head-nav {
        // border: 1px solid red;
        height: max-content;
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.558);
    }

    & .head-title {
        // border: 1px solid black;
        // width: 55%;
        min-height: 65vh;
        // max-height: max-content;
        z-index: -1;

        p:nth-child(1) {
            padding: 10px;
            // border: 1px solid black;
            line-height: 5rem;
            // font-size:4rem ;
            font-family: 'Bungee', cursive;
            // margin: ;
            color: #f5f5f5;
            text-shadow: 1px 1px 1px #919191,
                1px 2px 1px #919191,
                1px 3px 1px #919191,
                1px 4px 1px #919191,
                1px 5px 1px #919191,
                1px 6px 1px #919191,
                1px 7px 1px #919191,
                1px 8px 1px #919191,
                1px 9px 1px #919191,
                1px 10px 1px #919191,
                1px 18px 6px rgba(16, 16, 16, 0.4),
                1px 22px 10px rgba(16, 16, 16, 0.2),
                1px 25px 35px rgba(16, 16, 16, 0.2),
                1px 30px 60px rgba(16, 16, 16, 0.4);

        }

        p:nth-child(2) {
            font-size: 2rem;
            line-height: 40px;
        }
    }

    & .head-line {
        font-family: 'Barlow', sans-serif;
        font-size: 1.5rem;
        // padding-left: 10px;
        line-height: 28px;
        background-color: rgba(0, 0, 0, 0.517);
        color: white;
        padding: 10px 12px;
        font-weight: 600;
        letter-spacing: 1.5px;
    }
}



.head-nav * {
    color: white;
}

@media (min-width:570px) {
    .header {
        height: 98vh;
    }

    .head-title {
        // height: 80vh;

        p {
            font-size: 4rem;

            span {
                font-size: 6rem;
            }
        }

        p:nth-child(2) {
            // color: white;
            font-size: 2rem;
            line-height: 40px;
        }
    }

    .header {
        background-position: center;

    }


}


@media (max-width:570px) {


    .head-title {
        height: 70vh;

        p {
            font-size: 3rem;

            span {
                font-size: 4rem;
            }
        }

        p:nth-child(2) {
            // color: black;
            font-size: 2rem;
            text-align: center;
            line-height: 40px;
        }
    }

    .header {
        background-position: right;

    }
}