@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');


.header {
    margin: 0;
    background: url('../../assets/david-van-dijk-3LTht2nxd34-unsplash.jpg');
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
    width: 100%;
    box-sizing: border-box;

    & .head-title {
        border: 1px solid black;
        // width: 55%;
        // min-height: 91vh;
        // max-height: max-content;
        z-index: -1;

        p {
            padding: 10px;
            // border: 1px solid black;
            line-height: 5rem;
            // position: relative;

            // font-size:4rem ;
            font-family: 'Bungee', cursive;

            // background-color: #666666;
            // background-clip: text;
            // color: transparent;
            // text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;

            color: #f5f5f5;
            text-shadow: 1px 1px 1px #919191,
                1px 2px 1px #919191,
                1px 3px 1px #919191,
                1px 4px 1px #919191,
                1px 5px 1px #919191,
                1px 6px 1px #919191,
                1px 7px 1px #919191,
                1px 8px 1px #919191,
                1px 9px 1px #919191,
                1px 10px 1px #919191,
                1px 18px 6px rgba(16, 16, 16, 0.4),
                1px 22px 10px rgba(16, 16, 16, 0.2),
                1px 25px 35px rgba(16, 16, 16, 0.2),
                1px 30px 60px rgba(16, 16, 16, 0.4);
        
        }
    }
}

.head-nav {
    // border: 1px solid red;
    height: max-content;
}

@media (min-width:570px) {
    .head-title {
        height: 91vh;

        p {
            font-size: 4rem;

            span {
                font-size: 6rem;
            }
        }
    }
}


@media (max-width:570px) {
    .head-title {
        height: 70vh;

        p {
            font-size: 3rem;

            span {
                font-size: 4rem;
            }
        }
    }
}